{% extends 'base.html' %}

{% block title %}{{super()}}  {{mygas}} {% endblock %} 

{% block contend %} 
<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col sm-9 align-content-center">
      <center>
      <div class="chart-container" style="position: relative; width: 1300px; height: 300px;">
        <canvas id="myChart"></canvas>
      </div>
    </center>
      <p></p><p></p>
      <p></p><p></p>
      
      <center>
        <button id="stopButton" type="button" 
        class="btn btn-outline-success">Pausar</button>
      </center>

      <p></p><p></p>
    
    </div>
 </div>


  <div class="row justify-content-center">
      <div class="card-colums">
        <div class="card-deck" style = "text-align: center">
        
          <div class="card text-center text-body  mb-3" style="border-color:#161607; border-width: 1px; width: 18rem; background-color: #e4e25e;">
            <div class="card-header text-white" style="font-size: 22px; background-color: #c71c1c ;">Atual:</div>
              <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item" style="background-color: #bdb7b7;">
                    <a class="nav-link active" href="#momp" role="tab" data-toggle="tab" 
                    style="color:#000000; font-size: 17px; font-weight: 300;">PPM</a>
                </li>

                <li class="nav-item" style="background-color: #bdb7b7;">
                    <a class="nav-link" href="#momu" role="tab" data-toggle="tab" 
                    style="color:#000000; font-size: 17px; font-weight: 300;">ug/m³</a>
                </li> 

            </ul>
             <div class="card-body tab-content">
              <div id="momp" class="tab-pane fade show active" role="tabpanel" 
                style="font-size: 26px; font-weight: 500">-</div>
              <div id="momu" class="tab-pane fade" role="tabpanel" 
                style="font-size: 26px;font-weight: 500">-</div>
            </div>
          </div>
                 
          <div class="card text-center text-body mb-3" style="border-color:#ffb300; border-width: 1px; width: 18rem; background-color: #e4e25e;">
            <div class="card-header text-white" style="font-size: 22px; background-color: #000000 ;">Média:</div>
              <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item" style="background-color: #bdb7b7;">
                    <a class="nav-link active" href="#avgp" role="tab" data-toggle="tab" 
                    style="color:#000000; font-size: 17px; font-weight: 300;">PPM</a>
                </li>

                <li class="nav-item" style="background-color: #bdb7b7;">
                    <a class="nav-link" href="#avgu" role="tab" data-toggle="tab" 
                    style="color:#000000; font-size: 17px; font-weight: 300;">ug/m³</a>
                </li> 

            </ul>
            <div class="card-body tab-content">
              <div id="avgp" class="tab-pane fade show active" role="tabpanel" 
                style="font-size: 26px; font-weight: 500">-</div>
              <div id="avgu" class="tab-pane fade" role="tabpanel" 
                style="font-size: 26px;font-weight: 500">-</div>
            </div>
          </div>
         
          <div class="card text-center text-body mb-3" style="border-color:#ffb300; border-width: 1px; width: 18rem; background-color: #e4e25e;">
            <div class="card-header text-white" style="font-size: 22px; background-color: #000000 ;">Máximo:</div>
            <ul class="nav nav-tabs nav-fill" role="tablist">
              <li class="nav-item" style="background-color: #bdb7b7;">
                  <a class="nav-link active" href="#maxp" role="tab" data-toggle="tab" 
                  style="color:#000000; font-size: 17px; font-weight: 300;">PPM</a>
              </li>

              <li class="nav-item" style="background-color: #bdb7b7;">
                  <a class="nav-link" href="#maxu" role="tab" data-toggle="tab" 
                  style="color:#000000; font-size: 17px; font-weight: 300;">ug/m³</a>
              </li> 

          </ul>
          <div class="card-body tab-content">
            <div id="maxp" class="tab-pane fade show active" role="tabpanel" 
              style="font-size: 26px; font-weight: 500">-</div>
            <div id="maxu" class="tab-pane fade" role="tabpanel" 
              style="font-size: 26px;font-weight: 500">-</div>
          </div>
          </div>
        
          <div class="card text-center text-body mb-3" style="border-color:#ffb300; border-width: 1px; width: 18rem; background-color: #e4e25e;">
            <div class="card-header text-white" style="font-size: 22px; background-color: #000000 ;">Mínimo:</div>
              <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item" style="background-color: #bdb7b7;">
                    <a class="nav-link active" href="#minp" role="tab" data-toggle="tab" 
                    style="color:#000000; font-size: 17px; font-weight: 300;">PPM</a>
                </li>

                <li class="nav-item" style="background-color: #bdb7b7;">
                    <a class="nav-link" href="#minu" role="tab" data-toggle="tab" 
                    style="color:#000000; font-size: 17px; font-weight: 300;">ug/m³</a>
                </li> 

            </ul>
            <div class="card-body tab-content">
              <div id="minp" class="tab-pane fade show active" role="tabpanel" 
                style="font-size: 26px; font-weight: 500">-</div>
              <div id="minu" class="tab-pane fade" role="tabpanel" 
                style="font-size: 26px;font-weight: 500">-</div>
            </div>
          </div>
        
          </div>
      </div>
    </div>

    </div>

    <style>
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: #5784ff;
        border-color: transparent;
        border-top-color: transparent;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-color: #ffffff;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-color:  #ffffff;
            /* border-top-color: #f00404;
            border-right-color: #f00404;
            border-bottom-color: #f00404;
            border-left-color: rgb(221, 13, 23); */
    }

    </style>
  
{% endblock %}

{% block essential %} 
<!-- carregamento das ferramentas essenciais -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
{% endblock %} 


{% block script %}
<script type="text/javascript" charset="utf-8" > 

    var dt = [];

    var config = { //configuração do design do grafico
      type: 'line', //tipo
      data: {
        labels: [], //vetor labels 
        datasets: [{ //local onde aparecem os dados
          label: 'Concentração de {{mygas}}', //titulo
          data: dt,  //vetor com os dados
          backgroundColor: [ //cor do plano de fundo
          'rgba(153,204,41,0.65)'
          ],
          borderColor: [ //cor da borda
          'rgba(0,0,0)'
          ],
          borderWidth: '2',  //largura da borda
          pointBackgroundColor: 'rgba(153,204,41,0.8)',
          pointBorderColor: 'rgba(0,0,0)',
          pointBorderWidth: 2,
        }]
      },
      options: { //configuração da "atuação do grafico"
        responsive: true, //se permite alterações na dimensão do gráfico
        maintainAspectRatio: false,
        hover: {
          mode: 'nearest', //Gets the items that are at the nearest distance to the point
          intersect: true //if true, the hover mode only applies 
        },               //when the mouse position intersects an item on the chart.
        scales: { //opçoes para graficos variaveis
          xAxes: [{ //eixo x
            display: true, //se deve ser apresentado
            scaleLabel: { //legenda do eixo
              display: true, 
              labelString:'Amostra',
              fontColor: 'black',   //Fonte da legenda
              fontSize: '14'
            },
            ticks: {
                    fontColor: 'black',  //Fonte dos valores de x
                    fontSize:'11'
                },
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString:'PPM',
              fontColor: 'black',
              fontSize: '14'          //Fonte da legenda
            },
            ticks: {
                    fontColor: 'black', //Fonte dos valores de y
                    fontSize:'11'
                },
          }]
        },
        title: { //titulo do grafico
          display: true,
          text:'{{sensor}}',
          fontSize:'14',
        },
        legend: {
          labels: {
            fontColor: 'black'
          }
        },
      }
    }
  
    var ctx = document.getElementById("myChart").getContext('2d'); //necessario para definir o grafico
    var myChart = new Chart(ctx, config); //definição da variavel do grafico contexto, configurações
    Chart.defaults.global.defaultFontFamily = "Arial";
    Chart.defaults.global.elements.line.cubicInterpolationMode = 'monotone';
    //variaveis para uso nas funções
    var acum = 0.0;
    var atual = 0.0;
    var maior = -1.0;
    var menor = 1000000.0;
    var max_length = 41;
    var acum_u = 0.0;
    var atual_u = 0.0;
    var maior_u = 0.0;
    var menor_u = 0.0;
    var labels_place = config.data.labels;
    var pos = 1


    var socket = io.connect('http://127.0.0.1:8080/'); //conecta ao home page
    socket.on("atualiza", 
        function(dados) { //dados json passado por socketio.emit("atualiza",estado)
         console.log("Dados = ",dados)  
          if("ppm" in dados){
                dt.push(dados['ppm']["{{ind|int}}"]);  //adiciona o valor da chave no vetor dt
                labels_place.push(pos.toString()); //adiciona ao vetor labels
                if(dt.length>max_length){ //testa se há muitos valores
                    dt.shift();           //remove o primeiro item do vetor; shift()
                    labels_place.shift();
                } 
          }
                if(isRunning){                                  //o valor de pos
                    window.myChart.update();                    //ficando igual a 0s...1"{{ index }}"s...
                }

                acum += dados['ppm']["{{ind|int}}"]; //acumulador 0 + valor em ppm
                acum_u += dados['ug/m3']["{{ind|int}}"];
                //alterando valores nas caixas de amostragem
                document.getElementById("avgp").innerHTML = ((acum/(pos)).toPrecision(7)) + " PPM" ;
                document.getElementById("avgu").innerHTML = ((acum_u/(pos)).toPrecision(7)) + " ug/m³" ;
                
                atual = dados['ppm']["{{ind|int}}"]
                atual_u = dados['ug/m3']["{{ind|int}}"]
                pos += 1;

                document.getElementById("momp").innerHTML = atual.toPrecision(7) + " PPM" ;
                document.getElementById("momu").innerHTML = atual_u.toPrecision(7) + " ug/m³" ;
                if(dados['ppm']["{{ind|int}}"] < menor){
                    menor = dados['ppm']["{{ind|int}}"]
                    menor_u = dados['ug/m3']["{{ind|int}}"]
                    document.getElementById("minp").innerHTML = menor.toPrecision(7) + " PPM" ;
                    document.getElementById("minu").innerHTML = menor_u.toPrecision(7) + " ug/m³" ;
                }
                if(dados['ppm']["{{ind|int}}"] > maior){
                    maior = dados['ppm']["{{ind|int}}"];
                    maior_u = dados["ug/m3"]["{{ind|int}}"];
                    document.getElementById("maxp").innerHTML = maior.toPrecision(7) + " PPM" ;
                    document.getElementById("maxu").innerHTML = maior_u.toPrecision(7) + " ug/m³" ;
                }
            },
    );
    //sobre o clique no botão "Pausar"
    document.getElementById("stopButton").addEventListener("click", stopUpdating);
    
    var isRunning = true; //variavel de controle
  
    function stopUpdating(){ //funcao
      isRunning = !isRunning; //inverte o valor atual da variavel
      if(isRunning){ //se estiver rodando o programa
        document.getElementById("stopButton").textContent = "Pausar";
        socket.emit('get_back')
      } //altera o texto para "Pausar"
      else{ //se não estiver
        socket.emit('stop',{"situation": "stop the thread"});
        document.getElementById("stopButton").textContent = "Retomar";
      } //altera o texto para "Retomar"
    }
  
  </script>

{% endblock %}